* {
  margin: 0;
  padding: 0;
}

body {
  font-family: 'Work Sans', sans-serif;
}

/* header styles */
header {
  background: rgba(255, 144, 14, 0.10);
  padding: 50px 240px;
}

nav {
  display: flex;

}

nav h1 {
  color: var(--Dark-01, #131313);
  text-align: center;
  font-family: Work Sans;

  font-size: 45px;
  font-style: normal;
  font-weight: 700;
  line-height: normal;
}

nav ul {
  display: flex;
  gap: 20px;
  color: var(--Dark-02, #424242);
  text-align: center;
  font-family: Work Sans;
  font-size: 18px;
  font-style: normal;
  font-weight: 500;
  line-height: 26px;
  /* 144.444% */
  text-decoration: none;
  margin-top: 20px;
  margin-left: 300px;
  margin-right: 30px;
  margin-bottom: 20px;
}

nav li {
  list-style: none;
}

nav li a {
  text-decoration: none;
}

.section-1 {
  color: var(--Dark-01, #131313);
  text-align: center;
  font-family: Work Sans;
  font-size: 20px;
  font-style: normal;
  font-weight: 700;
  line-height: normal;
  margin-top: 60px;
}

.section-1 p {
  font-size: 15px;
  margin-top: 10px;
  color: #727272;
}

button {
  color: #FFF;
  text-align: center;
  font-family: Work Sans;
  font-size: 20px;
  font-style: normal;
  font-weight: 600;
  line-height: normal;
}

.btn-primary {
  border-radius: 8px;
  background: #FF900E;
  margin-top: 10px;
  padding: 10px;
  border: none;
}