* {
  margin: 0;
  padding: 0;
}

body {
  font-family: 'Work Sans', sans-serif;
}

/* header styles */
header {
  background: rgba(255, 144, 14, 0.10);
  padding: 50px 240px;
}

nav {
  display: flex;

}

nav h1 {
  color: var(--Dark-01, #131313);
  text-align: center;
  font-family: Work Sans;

  font-size: 45px;
  font-style: normal;
  font-weight: 700;
  line-height: normal;
}

nav ul {
  display: flex;
  gap: 20px;
  color: var(--Dark-02, #424242);
  text-align: center;
  font-family: Work Sans;
  font-size: 18px;
  font-style: normal;
  font-weight: 500;
  line-height: 26px;
  /* 144.444% */
  text-decoration: none;
  margin-top: 20px;
  margin-left: 300px;
  margin-right: 30px;
  margin-bottom: 20px;
}

nav li {
  list-style: none;
}

nav li a {
  text-decoration: none;
}

.section-1 {
  color: var(--Dark-01, #131313);
  text-align: center;
  font-family: Work Sans;
  font-size: 20px;
  font-style: normal;
  font-weight: 700;
  line-height: normal;
  margin-top: 60px;
}

.section-1 p {
  font-size: 15px;
  margin-top: 10px;
  color: #727272;
}

button {
  color: #FFF;
  text-align: center;
  font-family: Work Sans;
  font-size: 20px;
  font-style: normal;
  font-weight: 600;
  line-height: normal;
}

.btn-primary {
  border-radius: 8px;
  background: #FF900E;
  margin-top: 10px;
  padding: 10px;
  border: none;
}

div img {
  margin-top: 50px;
  height: 450px;
}

/* banner related style */
.section-1 {
  display: flex;
  align-items: center;
  background: #FFF;
  /* border-radius: 8px;
  background: lightgray -85.564px 0px / 150.038% 100% no-repeat; */
  /* margin-left: 20px; */
}

.div-1 {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  gap: 14px;

}

.div-1 img {
  height: 250px;
  margin-left: 100px;
  /* gap: 24px; */
  margin-top: 30px;
}

.div-2 {
  margin-left: 70px;
  margin-right: 40px;
}

.div-2 h1 {
  color: var(--Dark-03, #727272);
  font-family: Work Sans;
  font-size: 45px;
  font-style: normal;
  font-weight: 500;
  line-height: normal;
}

.div-2 .our {
  color: var(--Dark-01, #131313);
  font-family: Work Sans;
  font-size: 45px;
  font-style: normal;
  font-weight: 700;
  line-height: normal;
}

.div-2 .Features {
  color: #FF900E;
  font-family: Work Sans;
  font-size: 45px;
  font-style: normal;
  font-weight: 700;
  line-height: normal;
}

.div-2 p {
  color: var(--Dark-03, #727272);
  font-family: Work Sans;
  font-size: 12px;
  font-style: normal;
  font-weight: 400;
  line-height: 26px;
  /* 162.5% */
}

/* section-2 */
.section-2 {
  background: #FFF;
  margin-top: 40px;
  background-image: url('/images/architect.png');
  background-repeat: no-repeat;
  margin-right: 150px;
  background-position: right;
  background-size: contain;

}

.div-3 {
  margin-left: 60px;
}

.div-3 h1 {
  color: var(--Dark-01, #131313);
  font-family: Work Sans;
  font-size: 45px;
  font-style: normal;
  font-weight: 700;
  line-height: normal;
  margin-top: 20px;

}

.div-3 p {
  color: var(--Dark-03, #727272);
  font-family: Work Sans;
  font-size: 16px;
  font-style: normal;
  font-weight: 400;
  line-height: 26px;
  /* 162.5% */
}

.div-3 .btn-primary {
  /* justify-content: center; */
  align-items: center;
  margin-left: 550px;
  padding: 40px;
}